{% extends "layout/base.html" %}
{% import 'planner/macros.html' as macros %}
{% block title %}Planner{% endblock %}

{% block content %}
    <h1>Tasks</h1>
    <p>This is planner page</p>
    <ul>
    {% if tasks %}
            {% for t in tasks %}
                {% if t.priority==1 %}
                <li><strong>{{ macros.task_text_with_href(t) }}</strong> ({{ t.date }})</li>
                {% elif t.priority==-1 %}
                <li><i>{{ macros.task_text_with_href(t) }}</i> ({{ t.date }})</li>
                {% else %}
                <li>{{ macros.task_text_with_href(t) }}({{ t.date }})</li>
                {% endif %}
            {% endfor %}
    {% else %}
            <li>no tasks to show</li>
    {% endif %}
    </ul>
    <a class="btn btn-default" href="{{ url_for('planner.add_task') }}" role="button">Add task</a>
{% endblock %}