{% extends "virtues/index.html" %}
{% import 'layout/macros.html' as form_macros %}

{% block head %}
    {{ super() }}
    <style>
        #virtue_description { margin-top: 40px; }
        #virtue_footer { margin-top: 100px; }
        #virtue_description { padding-left: 30px; }


        #virtue_description p, #virtue_description ul li,
          #virtue_description ol li, #virtue_description strong, #virtue_description em,
          #virtue_description h1, #virtue_description h2, #virtue_description h3 {
            font-size: 16px;
        }

        #virtue_description strong {
            font-weight: 600;
        }

        #virtue_description h1, #virtue_description h1 em, #virtue_description h1 strong {
            font-size: 22px;
        }

        #virtue_description h2, #virtue_description h2 em, #virtue_description h2 strong {
            font-size: 20px;
        }

        #virtue_description em {
            font-style: italic;
        }
    </style>
{% endblock %}

{% block title %}Virtues - {{ virtue.title }} {% endblock %}

{% block content %}
    <div class="row" id="virtue_heading">
        <div class="col-md-12">
        	<h1><span class="handwriting">{{ virtue.title }}</span></h1>
            <h4><small>{{ virtue.formatted_subtitle }}</small></h4>
        </div>
    </div>
    <div class="row" id="virtue_image">
        <div class="col-md-8 col-md-offset-2">
            <img src="{{ url_for('static', filename='img/virtues/'+virtue.illustration_path) }}" alt="{{ virtue.title }}">
        </div>
    </div>
    <div class="row" id="virtue_description">
        <div class="col-md-12">
            {{ virtue.formatted_description }}
        </div>
    </div>
    <div class="row" id="virtue_footer">
        <div class="col-md-12">
            <a href=" {{ url_for('virtues.edit_virtue', virtue_id=virtue.id) }}" class="btn btn-default btn-lg pull-right edit_virtue" role="button">Edit</a>
        </div>
    </div>
{% endblock %}