{% macro task_list(tasks, no_tasks_message, show_date) -%}
    <ul>
    {% if tasks %}
        {% for t in tasks %}
            {% if t.priority==1 %}
            <li><strong>{{ task_text_with_href(t) }}</strong> <small>{{ '(' + t.date.strftime('%Y-%m-%d') + ')'  if show_date }}</small> </li>
            {% elif t.priority==-1 %}
            <li><i>{{ task_text_with_href(t) }}</i> <small>{{ '(' + t.date.strftime('%Y-%m-%d') + ')'  if show_date }}</small> </li>
            {% else %}
            <li>{{ task_text_with_href(t) }} <small>{{ '(' + t.date.strftime('%Y-%m-%d') + ')'  if show_date }}</small> </li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li>{{ no_tasks_message }} </li>
    {% endif %}
    </ul>
{%- endmacro %}

{% macro task_text_with_href(task) -%}
    <a href="{{ url_for('tasks.edit_task', task_id=task.id) }}"> {{ task.name }} </a>
{%- endmacro %}