{% extends "planner/index.html" %}
{% import 'layout/macros.html' as form_macros %}

{% block title %}Diary - {{ submit_string }} post {% endblock %}

{% block content %}
    <h1>Posts</h1>
    <form method="POST" action="" class="form-horizontal">
        {{ form.csrf_token }}
        {{ form_macros.render_text_field(form.title) }}
        {{ form_macros.render_text_area_field(form.content, 12) }}
        {{ form_macros.render_date_picker_field(form.date) }}
        <input type="submit" class="btn btn-default btn-lg pull-right" value="{{ submit_string }} post">
    </form>
    {% if post_id %}
        <form method="POST" action="{{ url_for('diary.delete_post', post_id=post_id) }}">
          <button class="btn btn-default btn-lg pull-right" type="submit">Delete</button>
        </form>
    {% endif %}
{% endblock %}