{% extends "diary/index.html" %}
{% import 'layout/macros.html' as form_macros %}

{% block head %}
    {{ super() }}
    <style>
        #post_content { margin-top: 40px; }
        #post_footer { margin-top: 100px; }
        #post_content { padding-left: 30px; }


        #post_content p, #post_content ul li,
          #post_content ol li, #post_content strong, #post_content em,
          #post_content h1, #post_content h2, #post_content h3 {
            font-size: 16px;
            font-family: 'Kaushan Script', cursive;
        }

        #post_content strong {
            font-weight: 600;
        }

        #post_content h1, #post_content h1 em, #post_content h1 strong {
            font-size: 22px;
        }

        #post_content h2, #post_content h2 em, #post_content h2 strong {
            font-size: 20px;
        }

        #post_content em {
            font-style: italic;
        }
    </style>
{% endblock %}

{% block title %}Diary - {{ post.title }} {% endblock %}

{% block content %}
    <div class="row" id="post_heading">
        <div class="col-md-9">
        	<h1><span class="handwriting">{{ post.title }}</span> <small>dziennik</small></h1>
        </div>
        <div class="col-md-3">

        </div>
    </div>
    <div class="row" id="post_content">
        <div class="col-md-12">
            {{ post.content }}
        </div>
    </div>
    <div class="row" id="post_footer">
        <div class="col-md-12">
            <a href=" {{ url_for('diary.edit_post', post_id=post.id) }}" class="btn btn-default btn-lg pull-right edit_post" role="button">Edit</a>
        </div>
    </div>


{% endblock %}